sudo: false
cache: npm
language: node_js
node_js:
  - "11"

branches:
  only:
    - master # build master branch only


install:
  - npm install -g cnpm --registry=https://registry.npm.taobao.org 
  - cnpm install

script:
  - cnpm run build


deploy:
  provider: pages
  skip-cleanup: true
  github-token: $GH_TOKEN
  keep-history: true
  on:
    branch: master
  local-dir: dist
